<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832864659690-6dbt0of1d45n3sg4q65bfsbr4n4em7p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832864659690-6dbt0of1d45n3sg4q65bfsbr4n4em7p4</string>
	<key>API_KEY</key>
	<string>AIzaSyDBStwCrGoJV0vs2hwU68ICMvrZabNXDnM</string>
	<key>GCM_SENDER_ID</key>
	<string>832864659690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beedroid.testModule</string>
	<key>PROJECT_ID</key>
	<string>rktestmodule</string>
	<key>STORAGE_BUCKET</key>
	<string>rktestmodule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832864659690:ios:51068eb02e48b82a2e4f93</string>
	<key>DATABASE_URL</key>
	<string>https://rktestmodule.firebaseio.com</string>
</dict>
</plist>